p{
    font-family: cursive;
    font-size: medium;
    font-weight: bolder;

}
.card-body{
    text-align: center;
    background-image: url(../images/kente.jpg)    
    font-family: cursive;
}
h2{
    font-size: large;
    font-style: italic;
    color: wheat;
    font-weight: bolder;
    font-family: cursive;
}
h1{
    text-align: center;
    font-family: cursive;
}
h3{
    font-size: large;
    font-style: italic;
    color: wheat;
    font-weight: bolder;
    font-family: cursive;
}
.container{
    border: black;
    padding: 25px;
    float: inline-end;
    color: wheat;
    font-weight: bolder;
    font-family: cursive;
}
body{
    background-image: url(../images/background3.jpeg);
    font-family: cursive;
    
}
.jumbotron{
    background-image: url(../images/kente.jpg);
    font-family: cursive;
}