p{
    font-family: serif;
    font-size: medium;
}
.card-body{
    text-align: center;
    background-image: url(/images/kente.jpg);
}
h2{
    font-size: large;
    font-style: italic;
}
h1{
    text-align: center;
    font-family: serif;
}
h3{
    font-size: large;
    font-style: italic;
}
.row{
    background-color: bisque;
}
.container{
    border: black;
    background-image: url(/images/kente.jpg);
}
body{
    background-image: url(/images/background3.jpeg);
}